<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libmruby_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mirb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>mrbc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mrbtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>mruby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>mruby_object.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mrubyxc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>xpcat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>159D47BE8AF94087B4CBF0DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C21779116D3494FB1CEA151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60C6349B2BCC4B3F81743BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A3537AA8A634FFCAF71E604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F31F6187693421BB2B61A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75AD33FB7D174CFB9977CD0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961BBF376CC9421F87FDEDFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55089F51650582F00B3602B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B162DD8D35A9471095EA1413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B555C87AC857414DA48202FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B73EBDD766F8455DA959F671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23D29A8D9064C9197DFB357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F678255720E6444B91AE0492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
